<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ShipmentSystemConnection"
         connectionString="Data Source=localhost;Initial Catalog=Shipment_System1;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
